﻿
@{
    ViewBag.Title = "UploadFileSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fullwidth" class="main-fullwidth main-col-full">
    <section class="vc_row wpb_row vc_row-fluid vc-zozo-section typo-dark">
        <div class="zozo-vc-main-row-inner vc-normal-section">
            <div class="container">
                <div class="row">

                    <div class="wpb_wrapper">
                        <div class="zozo-parallax-header">
                            <div class="parallax-header">
                                <h4 class="parallax-title text-center" style="text-transform: inherit;">Tạo đơn thành công. Vui lòng kiểm tra Email để xem chi tiết đơn hàng.</h4>
                                <div class="parallax-desc default-style text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    </div>

