﻿@model BanNhaAZ.Models.FileModel
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CssPage{
    <link rel='stylesheet' id='ultimate-style-min-css'
          href='~/Content/themes/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.min6e85.css?ver=3.13.7' type='text/css'
          media='all' />

    <script type='text/javascript'
            src='~/Content/themes/wp-content/plugins/gravityforms1916/js/jquery.json-1.39915.js?ver=1.9.1.5'></script>
    <script type='text/javascript'
            src='~/Content/themes/wp-content/plugins/gravityforms1916/js/gravityforms.min9915.js?ver=1.9.1.5'></script>
    <script type='text/javascript'
            src='~/Content/themes/wp-content/plugins/gravityforms1916/js/placeholders.jquery.min9915.js?ver=1.9.1.5'></script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1456358816112 {
            margin-top: 0px !important;
            border-top-width: 1px !important;
            border-right-width: 1px !important;
            border-bottom-width: 1px !important;
            border-left-width: 1px !important;
            padding-top: 40px !important;
            padding-right: 40px !important;
            padding-bottom: 40px !important;
            padding-left: 40px !important;
            background-color: #ffffff !important;
            border-left-color: #f5f5f5 !important;
            border-left-style: solid !important;
            border-right-color: #f5f5f5 !important;
            border-right-style: solid !important;
            border-top-color: #f5f5f5 !important;
            border-top-style: solid !important;
            border-bottom-color: #f5f5f5 !important;
            border-bottom-style: solid !important;
        }

        .vc_custom_1456645605947 {
            margin-bottom: 30px !important;
        }

        .validation_message {
            color: #ff5400 !important;
        }
    </style>
}

<div class="container">
    <div id="main-wrapper" class="zozo-row row">
        <div id="single-sidebar-container" class="single-sidebar-container main-col-full">
            <div class="zozo-row row">
                <div id="primary" class="content-area content-col-full">
                    <div id="content" class="site-content">

                        <div id="post-397" class="post-397 page type-page status-publish hentry">
                            <div class="entry-content">
                                <section class="vc_row wpb_row vc_row-fluid vc_custom_1456358816112 vc-zozo-section typo-dark">
                                    <div class="zozo-vc-main-row-inner vc-normal-section">
                                        <div class="container">
                                            <div class="row">
                                                <div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
                                                    <div class="wpb_wrapper">
                                                        <div class="zozo-parallax-header wpb_animate_when_almost_visible wpb_appear"><div class="parallax-header"><h4 class="parallax-title text-center">TẠO ĐƠN HÀNG BẰNG FILE EXCEL</h4></div></div><div class="vc_message_box vc_message_box-solid-icon vc_message_box-rounded vc_color-alert-info wpb_animate_when_almost_visible wpb_appear vc_custom_1456645605947">
                                                            <div class="vc_message_box-icon">
                                                                <i class="vc_li vc_li-megaphone"></i>
                                                            </div><p>Bạn vui lòng tải file excel mẫu bên dưới. Điền thông tin về mặt hàng của bạn theo đúng định dạng trong file excel. Sau khi điền thông tin thì chọn <strong>TẢI FILE LÊN</strong></p>
                                                        </div><div class="ubtn-ctn-center">
                                                            <button type="button" class="ubtn ubtn-large ubtn-fade-bg  none  ubtn-sep-icon ubtn-sep-icon-left  ubtn-center   tooltip-5db1af10222ae ubtn-tooltip top"
                                                                    title=""
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    data-hover="" data-border-color="#ff5400" data-bg="#ff5400"
                                                                    data-hover-bg="" data-border-hover="#ef1f00" data-shadow-hover=""
                                                                    data-shadow-click="none" data-shadow="" data-shd-shadow=""
                                                                    onclick="onClickButton(this)"
                                                                    style="font-weight: bold; font-size: 18px;  border-radius: 3px; border-width: 1px; border-color: #ff5400; border-style: solid; background: #ff5400; color: #ffffff;">
                                                                <span class="ubtn-data ubtn-icon">
                                                                    <i class="Defaults-cloud-download" style="font-size: 32px; color: ;"></i>
                                                                </span><span class="ubtn-hover"></span>
                                                                <span class="ubtn-data ubtn-text">TẢI FILE ĐẶT HÀNG MẪU BẰNG EXCEL</span>
                                                            </button>
                                                        </div>
                                                        <script>
                                                            //                                                            jQuery(function () {
                                                            //                                                                jQuery(".tooltip-5db1af10222ae").bsf_tooltip();
                                                            //                                                            })
                                                        </script>
                                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_appear">
                                                            <div class="wpb_wrapper">

                                                                <div class='gf_browser_unknown gform_wrapper' id='gform_wrapper_8'>
                                                                    <a id='gf_8' name='gf_8' class='gform_anchor'></a>
                                                                    @using (Html.BeginForm("UploadFile",
                                                                        "File",
                                                                        FormMethod.Post,
                                                                        new { enctype = "multipart/form-data" }))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                        <div class='gform_heading'>
                                                                            <span class='gform_description'></span>
                                                                        </div>
                                                                        <div class='gform_body'>
                                                                            <ul id='gform_fields_8' class='gform_fields top_label form_sublabel_below description_below'>
                                                                                <li id='field_8_13' class='gfield gsection field_sublabel_below field_description_below'>

                                                                                    <h2 class='gsection_title'>TẢI FILE LÊN</h2>
                                                                                </li>
                                                                                <li id='field_8_14' class='gfield gfield_contains_required field_sublabel_below field_description_below'>
                                                                                    @Html.LabelFor(s => s.Files, "Chọn File", new { @class = "gfield_label" })
                                                                                    <span class='gfield_required'>*</span>
                                                                                    <div class='ginput_container'>
                                                                                        <input type='hidden' name='MAX_FILE_SIZE' value='268435456' />
                                                                                        <input name='files' id='files' type='file' class='medium' tabindex='1' />
                                                                                    </div>
                                                                                    @Html.ValidationMessageFor(t => t.Files, null, new { @class = "validation_message" })
                                                                                </li>
                                                                                <li id='field_8_7' class='gfield gsection field_sublabel_below field_description_below'><h2 class='gsection_title'>THÔNG TIN</h2></li>
                                                                                <li id='field_8_15' class='gfield gfield_contains_required field_sublabel_below field_description_below'>
                                                                                    @Html.LabelFor(s => s.Name, "Họ tên", new { @class = "gfield_label" })
                                                                                    <span class='gfield_required'>(*)</span>
                                                                                    <div class="ginput_container">
                                                                                        @Html.TextBoxFor(s => s.Name, new { @class = "medium" })
                                                                                    </div>
                                                                                    @Html.ValidationMessageFor(t => t.Name, null, new { @class = "validation_message" })
                                                                                </li>
                                                                                <li id='field_8_5' class='gfield gfield_contains_required field_sublabel_below field_description_below'>
                                                                                    @Html.LabelFor(s => s.Phone, "Số điện thoại", new { @class = "gfield_label" })
                                                                                    <span class='gfield_required'>(*)</span>
                                                                                    <div class='ginput_container'> @Html.TextBoxFor(s => s.Phone, new { @class = "medium", @tabindex = "3" })</div>
                                                                                    @Html.ValidationMessageFor(t => t.Phone, null, new { @class = "validation_message" })
                                                                                </li>
                                                                                <li id='field_8_2' class='gfield field_sublabel_below field_description_below'>
                                                                                    @Html.LabelFor(s => s.Email, "Email của bạn", new { @class = "gfield_label" })
                                                                                    <span class='gfield_required'>(*)</span>
                                                                                    <div class="ginput_container">
                                                                                        @Html.TextBoxFor(s => s.Email, new { @class = "medium" })
                                                                                    </div>
                                                                                    @Html.ValidationMessageFor(t => t.Email, null, new { @class = "validation_message" })
                                                                                </li>
                                                                                <li id='field_8_4' class='gfield gfield_contains_required field_sublabel_below field_description_below'>
                                                                                    @Html.LabelFor(s => s.Address, "Địa chỉ", new { @class = "gfield_label" })
                                                                                    <span class='gfield_required'>(*)</span>
                                                                                    <div class='ginput_complex ginput_container has_street' id='input_8_4'>
                                                                                        <span class='ginput_full' id='input_8_4_1_container'>
                                                                                            @Html.TextBoxFor(s => s.Address, new { @class = "medium", @tabindex = "5", @placeholder = "Ví dụ: Số 7, ngõ 101/11, Thanh Nhàn, Hai Bà Trưng, Hà Nội" })
                                                                                            <label for='address' id='input_8_4_1_label'>Số nhà/Ngõ/Tên đường - Quận/Huyện - Tỉnh/Thành Phố</label>
                                                                                        </span>
                                                                                    </div>
                                                                                    @Html.ValidationMessageFor(t => t.Address, null, new { @class = "validation_message" })
                                                                                </li>
                                                                                <li id='field_8_3' class='gfield field_sublabel_below field_description_below'>
                                                                                    <label class='gfield_label' for='summary'>Ghi chú</label><div class='ginput_container'>
                                                                                        <textarea name='summary' id='summary' class='textarea medium' tabindex='8' maxlength="500" rows='10' cols='50'></textarea>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class='gform_footer top_label'>
                                                                            <input type='submit' id='gform_submit_button_8' class='gform_button button' value='TẢI FILE LÊN' tabindex='9' />
                                                                            <input type='hidden' name='gform_ajax' value='form_id=8&amp;title=&amp;description=1&amp;tabindex=1' />
                                                                            <input type='hidden' class='gform_hidden' name='is_submit_8' value='1' />
                                                                            <input type='hidden' class='gform_hidden' name='gform_submit' value='8' />

                                                                            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
                                                                            <input type='hidden' class='gform_hidden' name='state_8' value='WyJbXSIsIjUyODQyM2Y5MDY1ZDUwMTc5NWIyMjk4NWQ5N2M0NGZhIl0=' />
                                                                            <input type='hidden' class='gform_hidden' name='gform_target_page_number_8' id='gform_target_page_number_8' value='0' />
                                                                            <input type='hidden' class='gform_hidden' name='gform_source_page_number_8' id='gform_source_page_number_8' value='1' />
                                                                            <input type='hidden' name='gform_field_values' value='' />

                                                                        </div>
                                                                    }
                                                                </div>
                                                                <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_8' id='gform_ajax_frame_8'></iframe>
                                                                <script type='text/javascript'>
                                                                </script>
                                                                <script type='text/javascript'>
                                                                    if (typeof gf_global == 'undefined') var gf_global = { "gf_currency_config": { "name": "U.S. Dollar", "symbol_left": "$", "symbol_right": "", "symbol_padding": "", "thousand_separator": ",", "decimal_separator": ".", "decimals": 2 }, "base_url": "http:\/\/giaodichthuanphong.com\/wp-content\/plugins\/gravityforms1916", "number_formats": [], "spinnerUrl": "http:\/\/giaodichthuanphong.com\/wp-content\/plugins\/gravityforms1916\/images\/spinner.gif" }; jQuery(document).bind('gform_post_render', function (event, formId, currentPage) {
                                                                        if (formId == 8) {
                                                                            if (typeof Placeholders != 'undefined') {
                                                                                Placeholders.enable();
                                                                            }
                                                                        }
                                                                    }); jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) { });</script>
                                                                <script type='text/javascript'>jQuery(document).ready(function () { jQuery(document).trigger('gform_post_render', [8, 1]) });</script>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>



                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->


            </div>
        </div><!-- #single-sidebar-container -->


    </div><!-- #main-wrapper -->
</div><!-- .container -->

@section JsPage
{
    <script type='text/javascript'
            src='~/Content/themes/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/tooltip.min6e85.js?ver=3.13.7'>
    </script>
    <script>
        function onClickButton(obj) {
            jQuery(obj).attr('title', 'Vui lòng điền thông tin về mặt hàng của bạn theo đúng định dạng trong file excel');
            jQuery(".tooltip-5db1af10222ae").bsf_tooltip("show");
        }
    </script>
}

@* title="Vui lòng điền thông tin về mặt hàng của bạn theo đúng định dạng trong file excel" *@