﻿
<!DOCTYPE html>
<html lang="vi">

<!-- Mirrored from www.phucanh.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2020 04:01:14 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--Array
    (
        [name] => home
        [view] => home
        [view_id] => 0
    )
    1-->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Phucanh.vn - Máy tính, Điện thoại, Thiết bị văn phòng - Giải pháp Công nghệ</title>
    <meta name="keywords" content="Phúc Anh Computer, PhucAnh, laptop, máy in, Máy tính, điện thoại, máy tính bảng, máy chủ, tivi" />
    <meta name="description" content="Công ty TNHH Kỹ nghệ Phúc Anh là doanh nghiệp hàng đầu chuyên cung cấp giải pháp công nghệ trong lĩnh vực máy tính, điện thoại, thiết bị văn phòng, thiết bị số, thiết bị giải trí." />

    <link rel="canonical" href="index.html" />

    <link rel="shortcut icon" href="template/2019/images/icon_phucanh.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="Phucanh.vn - Máy tính, Điện thoại, Thiết bị văn phòng - Giải pháp Công nghệ" />
    <meta property="og:description" content="Công ty TNHH Kỹ nghệ Phúc Anh là doanh nghiệp hàng đầu chuyên cung cấp giải pháp công nghệ trong lĩnh vực máy tính, điện thoại, thiết bị văn phòng, thiết bị số, thiết bị giải trí." />

    <meta property="og:image" content="media/banner/logo_logo_logo.png" />

    <!-- dublin code -->
    <link rel="schema.DC" href="https://purl.org/dc/elements/1.1/" />
    <meta name="DC.identifier" content="index.html" />
    <meta name="DC.description" content="Công ty máy tính Phúc Anh là doanh nghiệp kinh doanh hàng đầu trong lĩnh vực máy tính, thiết bị văn phòng, và thiết bị số tại Việt nam" />
    <meta name="DC.subject" content="Phúc Anh Computer, PhucAnh, laptop, máy in, Máy tính" />
    <meta name="DC.language" scheme="ISO639-1" content="en" />
    <meta name="DC.creator" content="index.html" />
    <meta name="DC.type" scheme="DCMITYPE" content="https://purl.org/dc/dcmitype/Collection" />
    <meta name="DC.type" scheme="DCMITYPE" content="https://purl.org/dc/dcmitype/MovingImage" />
    <meta name="DC.type" scheme="DCMITYPE" content="https://purl.org/dc/dcmitype/Service" />
    <meta name="DC.type" scheme="DCMITYPE" content="https://purl.org/dc/dcmitype/Software" />
    <meta name="DC.type" scheme="DCMITYPE" content="https://purl.org/dc/dcmitype/Sound" />
    <!-- end -->
    <link rel="publisher" href="https://plus.google.com/+phucanhsmartworld/posts" />
    <link rel="author" href="https://plus.google.com/+phucanhsmartworld/posts" />
    <!-- geo tag -->
    <meta name="DC.title" content="Phúc Anh- Hệ thống siêu thị Máy tính, Máy tính xách tay, Máy tính bảng, Tivi, Thiết bị kỹ thuật số và Văn phòng." />
    <meta name="geo.region" content="VN-HN" />
    <meta name="geo.placename" content="Hanoi" />
    <meta name="geo.position" content="21.011166;105.836708" />
    <meta name="ICBM" content="21.011166, 105.836708" />
    <meta name="msvalidate.01" content="7E80BBF220FC5D46E2E5C48BF55DAAA2" />
    <meta name="google-site-verification" content="TmlpHNQ7IQVCpunjxcKTOwv0p7WRGkLoKuoqjda87x4" />
    <meta name="google-site-verification" content="p_pfoxOMlvaEiZ1VM4FiH9dAhuhVVvh8Agn_gmWlY9Q" />
    <link href="../Content/home/template/2019/script/style.css?v=117022020" rel="stylesheet" />
    <link href="../Content/home/template/2019/script/responsive.css?v=99999" rel="stylesheet" />
    <meta name="google-site-verification" content="j8B-bm6pzE6MsZaxByZsAJebsGFs3Q5A0i0zAdCKSLU" />

    <!--  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45871157-1', 'auto');
      ga('send', 'pageview');

    </script>-->
    <!-- Facebook Pixel Code -->




</head>

<body>
    @RenderBody()
</body>
<!-- Mirrored from www.phucanh.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Feb 2020 04:20:00 GMT -->
</html>
<!-- Load time: 0.182 seconds  / 8 mb-->
<!-- Powered by HuraStore 7.4.4, Released: 12-Aug-2018 / Website: www.hurasoft.vn -->
