<style type="text/css">
    body {
        background-color: #152836
    }

    .demo-gallery>ul {
        margin-bottom: 0;
    }

    .demo-gallery>ul>li {
        float: left;
        margin-bottom: 46px;
        /* margin-right: 20px;
        width: 200px; */
        height: 150px;
    }

    .demo-gallery>ul>li a {
        border: 3px solid #e1e8e5;
        border-radius: 3px;
        display: block;
        overflow: hidden;
        position: relative;
        float: left;
    }

    .demo-gallery>ul>li a>img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;
        max-height: 150px;
    }

    .demo-gallery>ul>li a:hover>img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    .demo-gallery>ul>li a:hover .demo-gallery-poster>img {
        opacity: 1;
    }

    .demo-gallery>ul>li a .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
    }

    .demo-gallery>ul>li a .demo-gallery-poster>img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }

    .demo-gallery>ul>li a:hover .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .demo-gallery .justified-gallery>a>img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;

    }

    .demo-gallery .justified-gallery>a:hover>img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    .demo-gallery .justified-gallery>a:hover .demo-gallery-poster>img {
        opacity: 1;
    }

    .demo-gallery .justified-gallery>a .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
    }

    .demo-gallery .justified-gallery>a .demo-gallery-poster>img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }

    .demo-gallery .justified-gallery>a:hover .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .demo-gallery .video .demo-gallery-poster img {
        height: 48px;
        margin-left: -24px;
        margin-top: -24px;
        opacity: 0.8;
        width: 48px;
    }

    .demo-gallery.dark>ul>li a {
        border: 3px solid #04070a;
    }

    .home .demo-gallery {
        padding-bottom: 80px;
    }
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Images</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div>
            <div class="col-md-3">
                <div class="box box-success" style="margin-top: -13px;">
                    <div class="box-header with-border">
                        <div class="col-sm-9">
                            <h3 class="box-title"><i class="fa fa-dashboard"></i>
                                Danh mục</h3>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="row" style="padding-bottom: 12px;">
                                <div class="box-col">
                                    <div kendo-tree-view="tree" k-data-source="treeData"
                                        k-on-change="selectedFolder(dataItem)">
                                        <span k-template>
                                            {{dataItem.text}}
                                        </span>
                                    </div>
                                </div>
                                <div class="box-col" ng-show="selectedItem">
                                    <h4>Selected: {{selectedItem.text}}</h4>
                                    <button class="k-button" ng-click="addAfter(selectedItem)">Add below</button>
                                    <button class="k-button" ng-click="addBelow(selectedItem)">Add child</button>
                                    <!-- <button class="k-button" ng-click="remove(selectedItem)">Delete</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-9">
                <div class="box box-success" style="margin-top: -13px;">
                    <div class="box-header with-border">
                        <div class="col-sm-9">
                            <h3 class="box-title"><i class="fa fa-dashboard"></i>
                                {{"txt-label-list" | translate}}</h3>
                        </div>
                        <!--trongnv-->
                        <div class="col-sm-3" style="    padding-right: 1px;">
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="row" style="padding-bottom: 12px;">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        Upload file this here (allow ".jpg", ".jpeg", ".png", ".bmp", ".gif")
                                        <input name="files" id="files" type="file" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="demo-gallery">
                                        <ul id="lightgallery" class="list-unstyled row">
                                            <li ng-repeat="item in list" ng-init="$last ? setLightGallery() : null"
                                                style="    text-align: center;    " class="col-xs-6 col-sm-4 col-md-3"
                                                data-src="{{item.link}}" data-sub-html="{{item.link}}">

                                                <i style="cursor: pointer;font-size: 18px;
                                            z-index: 1;color: red;float: right;
                                            margin-bottom: -11px;position: relative;"
                                                    class="fa fa-times-circle t-block" aria-hidden="true"
                                                    ng-click="onRemove(this)"></i>
                                                <div class="t-div">
                                                    <a href="">
                                                        <img class="img-responsive" src="{{item.link}}">
                                                    </a>
                                                </div>
                                                <i data-toggle="tooltip" data-placement="top"
                                                    style="cursor: pointer;padding-top: 10px;font-size: 16px;"
                                                    ng-click="onCopy(this)" class="fa fa-clipboard t-block"
                                                    title="Click to Copy Url this image with '{{item.link}}'"
                                                    aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </form>
        </div>

    </div>
    </div>
    <style>
        .k-sprite {
            background-image: url(../img/coloricons-sprite.png");
        }

        .rootfolder {
            background-position: 0 0;
        }
        .box-col{
            padding-left: 20px;
        }

    </style>
    <script src="/Scripts/gallery/lightgallery-t.js"></script>
    <script src="/Scripts/gallery/jquery.mousewheel.min.js"></script>
    <script src="/Scripts/gallery/picturefill.min.js"></script>
    <script type="text/javascript">
        // $(document).ready(function(){
        //     $('#lightgallery').lightGallery();
        // });
    </script>
</section>