<style>
   
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Đăng tin</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success" style="margin-top: -13px;">
                <div class="box-header with-border">
                    <div class="col-sm-9">
                        <h3 class="box-title">
                            <i class="fa fa-dashboard"></i>
                            {{"txt-label-list" | translate}}
                        </h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-3" style="    padding-right: 1px;">
                        <!-- <div class="input-group pull-right">
                            <input placeholder="Search ..." type="text" class="form-control">
                            <span class="input-group-addon" style="cursor: pointer" ng-click=""><i
                                    class="fa fa-search"></i></span>
                        </div> -->
                        <!-- <button type="submit" style="margin: -8px -14px 4px 19px;" title="{{'txt-delete' | translate}}"
                            class="btn btn-danger pull-right" ng-click="deletes()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>&emsp; {{"txt-delete" | translate}}
                            &emsp;
                        </button>
                        <button type="submit" style="margin: -8px -14px 4px 19px;" title="{{'txt-add' | translate}}"
                            class="btn btn-success pull-right" ng-click="add()">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{"txt-add" | translate}}
                        </button> -->
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-body" style="    padding-left: 15px;">
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                                ng-disabled="false" ng-click="" data-target="#modal-default">
                                            <i class="fa fa-plus"></i>&ensp; Add new
                                        </button> &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                                ng-click="onDeletes()" ng-show="selectedRow.length >0" data-target="#modal-default">
                                            <i class="fa fa-times-circle"></i>&ensp; Deletes ({{selectedRow.length}})
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="input-group pull-right" style="    padding-right: 5px;">
                                            <input type="text" ng-model="search.name" ng-keypress="searchData($event)"
                                                   placeholder="Mã đơn hàng ..." class="form-control">
                                            <span class="input-group-addon" ng-click="searchData()" style="cursor: pointer" ng-click="">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">File Upload ({{totalFile}})</a></li>
                                        <li><a href="#tab_2" data-toggle="tab">Tạo đơn hàng ({{totalLink}})</a></li>
                                        <li class=" pull-right">
                                            <a style="cursor: pointer" ng-click="test()">
                                                <i class="fa fa-file-excel-o"></i>&ensp; Export
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <kendo-grid id="mainGridOptions" options="mainGridOptions">
                                            </kendo-grid>
                                        </div>
                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="tab_2">
                                            <kendo-grid id="mainGridOptions2" options="mainGridOptions2">
                                                <div k-detail-template>
                                                    <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                                                </div>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box -->
        <!-- general form elements disabled -->
        <!-- /.box -->
    </div>
    <div kendo-dialog="dialog" k-title="'Đơn hàng'" k-visible="false" k-on-open="false"
         k-on-close="false" k-width="750" k-modal="true">
        <div class="t-body">
            <form kendo-validator="validator" ng-submit="validate($event)">
                <div class="form-horizontal">
                    <div class="box-body scoll-box-body">
                        <div class="row t-scroll-modal">
                            <div class="form-group t-form-group col-sm-12">

                                <label class="col-sm-3">
                                    Mã đơn hàng
                                </label>

                                <div class="col-sm-5">
                                    <a>{{item.no}}</a>
                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">

                                <label class="col-sm-3">
                                    Link file
                                </label>

                                <div class="col-sm-5">
                                    <a href="#">Download</a>
                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Trạng thái
                                </label>

                                <div class="col-sm-4">
                                    <!--<input  id="products" style="width: 100%;" />-->
                                    <!--<select ng-model="item.status" kendo-drop-down-list style="width: 100%;">
        <option ng-repeat="s in lstStatus" value="{{s.id}}">{{s.name}}</option>
    </select>-->
                                    <select kendo-drop-down-list
                                            k-ng-model="item.statusSelected"
                                            k-data-text-field="'name'"
                                            k-data-value-field="'id'"
                                            k-data-source="lstStatus"
                                            style="width: 100%"></select>
                                    <!--<input id="dropdownlist" />
                                    {{item}}-->

                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">

                                <label class="col-sm-3">
                                    Họ tên
                                    <span class="t-required">(*)</span>
                                </label>

                                <div class="col-sm-5">
                                    <input type="text" ng-model="item.name"
                                           placeholder="Name" class="form-control t-input">

                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Email
                                    <span class="t-required">(*)</span>
                                </label>

                                <div class="col-sm-5">
                                    <input type="text" ng-model="item.email"
                                           placeholder="Email" class="form-control t-input">

                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Số điện thoại
                                    <span class="t-required">(*)</span>
                                </label>

                                <div class="col-sm-5">
                                    <input type="text" ng-model="item.phone"
                                           placeholder="Phone" class="form-control t-input">

                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Địa chỉ
                                    <span class="t-required">(*)</span>
                                </label>

                                <div class="col-sm-7">
                                    <input type="text" ng-model="item.address"
                                           placeholder="Address" class="form-control t-input">

                                </div>
                            </div>

                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Ghi chú
                                </label>

                                <div class="col-sm-7">
                                    <textarea type="text" ng-model="item.summary" rows="4" style="resize: none;"
                                              placeholder="Summary" class="form-control t-input">
                                    </textarea>

                                </div>
                            </div>
                            <div class="form-group t-form-group col-sm-12">
                                <label class="col-sm-3">
                                    Note
                                </label>

                                <div class="col-sm-7">
                                    <textarea type="text" ng-model="item.note" rows="4" style="resize: none;"
                                              placeholder="Note" class="form-control t-input">
                                    </textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-footer">
                    <button type="button" ng-click="dialog.close()" class="btn btn-default" title="Cancel action"
                            data-dismiss="modal">
                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp Close
                    </button>
                    &nbsp;
                    <button type="button" id="btnSave" class="btn btn-primary" ng-click="onSaveChange()" title="Save data">
                        <i class="fa fa-floppy-o" aria-hidden="true">
                        </i>&nbsp; Save changes
                    </button>

                </div>
            </form>
        </div>
    </div>

</section>