﻿
@{
    ViewBag.Title = "Đăng nhập hệ thống || BanhnhaAz.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BanNhaAZ.Models.UserLogin
<style>
    .validation_message{
        color:red
    }
</style>
<div class="container">
    <h1 class="titH1 bold c_red tit_login"><span id="ucLogin_txtTitle" class="titdn">Đăng nhập</span></h1>
    <hr class="mgb20" />

    <div id="ucLogin_pnlLogin" style="    padding-left: 39%;max-width: 70%;" class="box_login box_ipt_login" ValidationGroup="vldlogin">

        @using (Html.BeginForm("Index",
                                                                           "Login",
                                                                           FormMethod.Post,
                                                                           new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <input name="UserName" type="text" maxlength="50" id="UserName" class="form-control no-radius no-shadow" placeholder="Tên đăng nhập / Email / Điện thoại*" />
            @Html.ValidationMessageFor(t => t.UserName, null, new { @class = "validation_message" })

        </div>
            <div class="form-group">
                <input name="Password" type="password" maxlength="50" id="Password" class="form-control no-radius no-shadow" placeholder="Mật khẩu *" />
                @Html.ValidationMessageFor(t => t.Password, null, new { @class = "validation_message" })

            </div>
            <div class="form-group cbcheck mgb20"><input id="ucLogin_ckbSaver" type="checkbox" name="ucLogin$ckbSaver" /><label for="ucLogin_ckbSaver">  Nhớ mật khẩu</label></div>
            <div class="form-group"><input type="submit" name="ucLogin$btnLogin" value="ĐĂNG NHẬP" id="ucLogin_btnLogin" class="btn bold no-radius" /></div>
        }

        </div>




    <div class="intro clearfix pdt15 mgb20" style="text-align: center;">
        <p><img alt="Quên mật khẩu" src="images/icon/icon-mk.jpg" />&nbsp;&nbsp;<a href="#">Qu&ecirc;n mật khẩu?</a></p>

        <p><img alt="Đăng ký" src="images/icon/icon-dk.jpg" />&nbsp;&nbsp;<a href="#">Đăng k&yacute; th&agrave;nh vi&ecirc;n</a></p>

        <p>Để được trợ gi&uacute;p vui l&ograve;ng li&ecirc;n hệ :</p>

        <p>Hotline <strong><a href="#"><span style="color: #f15b40
">0973.002.5221</span></a></strong> hoặc email <strong><a href="http://mailto:trongnv1507@gmail.com/"><span style="color:#f15b40">trongnv1507@gmail.com</span></a></strong></p>
    </div>
</div>

