<style>
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Constant</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success" style="margin-top: -13px;">
                <div class="box-header with-border">
                    <div class="col-sm-9">
                        <h3 class="box-title">
                            <i class="fa fa-dashboard"></i>
                            {{"txt-label-list" | translate}}
                        </h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-3" style="    padding-right: 1px;">
                        <!-- <div class="input-group pull-right">
                            <input placeholder="Search ..." type="text" class="form-control">
                            <span class="input-group-addon" style="cursor: pointer" ng-click=""><i
                                    class="fa fa-search"></i></span>
                        </div> -->
                        <!-- <button type="submit" style="margin: -8px -14px 4px 19px;" title="{{'txt-delete' | translate}}"
                            class="btn btn-danger pull-right" ng-click="deletes()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>&emsp; {{"txt-delete" | translate}}
                            &emsp;
                        </button>
                        <button type="submit" style="margin: -8px -14px 4px 19px;" title="{{'txt-add' | translate}}"
                            class="btn btn-success pull-right" ng-click="add()">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{"txt-add" | translate}}
                        </button> -->
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-body" style="    padding-left: 15px;">
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                                ng-click="addRow()" data-target="#modal-default">
                                            <i class="fa fa-plus"></i>&ensp; Add new
                                        </button> &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                                ng-click="onClick1()" data-target="#modal-default">
                                            <i class="fa fa-times-circle"></i>&ensp; Deletes
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="input-group pull-right" style="    padding-right: 5px;">
                                            <input type="text" ng-model="search.name" ng-keypress="searchData($event)"
                                                   placeholder="Search ..." class="form-control">
                                            <span class="input-group-addon" style="cursor: pointer" ng-click="allDatasource.read()">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">Tất cả ({{total}})</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <kendo-grid options="mainGridOptions" id="grid">
                                               
                                            </kendo-grid>
                                        </div>
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>