﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hệ thống quản trị</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="/Content/admin/Assets/dist/img/user2-160x160.jpg">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/admin/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Content/admin/Assets/dist/css/skins/_all-skins.min.css">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="/Content/admin/Assets/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
    <!-- Google Font -->
    <!--lib css-->
    <link href="/Content/admin/Assets/toastr.min.css" rel="stylesheet" />
    <link href="/Content/admin/Assets/select.css" rel="stylesheet" />
    <link href="/Content/lightgallery.css" rel="stylesheet" />

    <!-- <script src="/Scripts/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="/Scripts/angular.js"></script> -->
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/kendo/angular.min.js"></script>

    <script src="/Scripts/angular-route.min.js"></script>
    <!-- <link href="~/Content/admin/Assets/skin.css" rel="stylesheet" /> -->
    <link href="/Content/style-admin.css" rel="stylesheet" />
    <!--kendo js-->
    <link href="~/Scripts/kendo/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Scripts/kendo/kendo.material.mobile.min.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>
    <script src="https://ckeditor.com/latest/ckeditor.js"></script>
    @*<script type="text/javascript" src="~/Scripts/t-ckeditor.js"></script>*@
    <script src="~/Scripts/angular-ckeditor.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <!-- end -->
    <script src="~/FrontEnd/admin/app.js"></script>
    <script src="~/FrontEnd/admin/home.controller.js"></script>
    <script src="~/FrontEnd/login/logout.controller.js"></script>
    <script src="~/FrontEnd/admin/constant.js"></script>
    <script src="~/FrontEnd/admin/router.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/angular-translate-loader-static-files.min.js"></script>
    <script src="/Content/admin/Assets/sanitize.js"></script>
    <script src="/Content/admin/Assets/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="/Scripts/underscore-min.js"></script>
    <script src="/Content/admin/Assets/select.js"></script>
    <!-- common helper -->
    <script src="~/FrontEnd/admin/commonHelper.js"></script>
    <!-- end common helper -->
    <script src="~/FrontEnd/admin/main/donhang/donhang.controller.js"></script>
    <script src="~/FrontEnd/admin/services/donhang.service.js"></script>
    <script src="~/FrontEnd/admin/main/constant/constant.controller.js"></script>
    <script src="~/FrontEnd/admin/services/constant.service.js"></script>
    <script src="~/FrontEnd/admin/main/hinhanh/hinhanh.controller.js"></script>
    <script src="~/FrontEnd/admin/services/hinhanh.service.js"></script>
    <script src="~/FrontEnd/admin/main/dichvu/dichvu.controller.js"></script>
    <script src="~/FrontEnd/admin/main/products/products.controller.js"></script>
    <script src="~/FrontEnd/admin/services/dichvu.service.js"></script>
    <script src="~/FrontEnd/admin/services/products.service.js"></script>
    <script src="~/FrontEnd/admin/main/gioithieu/gioithieu.controller.js"></script>
    <script src="~/FrontEnd/admin/services/gioithieu.service.js"></script>
    <base href="/">

</head>
<body>
    <body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature sidebar-collapse">
        <!-- Site wrapper -->
        @RenderBody()
        <!-- jQuery 3 -->
        <!-- <script src="/Content/admin/Assets/bower_components/jquery/dist/jquery.min.js"></script> -->
        <!-- Bootstrap 3.3.7 -->
        <script src="/Content/admin/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="/Content/admin/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/Content/admin/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="/Content/admin/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="/Content/admin/Assets/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Content/admin/Assets/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/Content/admin/Assets/dist/js/demo.js"></script>
        <!-- DataTables -->
        <script src="/Content/admin/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <!--toast-->
        <script src="/Content/admin/Assets/toastr.min.js"></script>
        <!-- AdminLTE App -->

        <script>
            class myLoading {
                constructor(obj, html) {
                    this.obj = obj;
                    this.html = $("#" + obj).html();
                }
                start() {
                    $("#" + this.obj).attr("disabled", "disabled");
                    $("#" + this.obj).html("<i class='fa fa-cog fa-spin' aria-hidden='true'></i>&nbsp; Đang xử lý &nbsp;");
                }
                stop() {
                    $("#" + this.obj).prop('disabled', false);
                    $("#" + this.obj).html(this.html);
                }
            }
            function numbersonly(f, b, a) {
                var c;
                var d;
                if (window.event) {
                    c = window.event.keyCode
                } else {
                    if (b) {
                        c = b.which
                    } else {
                        return true
                    }
                }
                if ((c == 86) && (b.ctrlKey == true) || (c == 67) && (b.ctrlKey == true)) {
                    return true
                }
                if (c >= 96 && c <= 105) {
                    c = c - 48
                }
                d = String.fromCharCode(c);
                if ((c == null) || (c == 0) || (c == 8) || (c == 9) || (c == 27) || c == 16 || c == 35 || c == 36 || c == 46 || (c >= 48 && c <= 57) || c == 37 || c == 39) {
                    return true
                }
                if (c == 13) {
                    if ($(f).attr("id") == "txtBetMoney") {
                        BetlogInsert()
                    }
                    return false
                } else {
                    if ((("0123456789").indexOf(d) > -1)) {
                        return true
                    } else {
                        if (a && (c == 190 || c == 110)) {
                            return $(f).val().indexOf(".") < 0
                        } else {
                            return false
                        }
                    }
                }
            }

        </script>
    </body>
</body>
</html>
