﻿@model Core.Models.EF.SendLand
@using Core.Models;

@{
    ViewBag.Title = "Ký gửi bất động sản || BanhnhaAz.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<style>
    .alert-danger {
        color: red;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<div class="container">
    <div class="row row-md">
        <div class="col-xs-12 col-md-8 col-md pull-left mgb15">
            <div id="ucRaoVat_pnlTitle">
                <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                    <span class='tit_span text-uppercase'>&nbsp; KÝ GỬI MUA BÁN NHÀ ĐẤT</span>
                </h2>
            </div>
            <div class="leftMainContent" style="margin-top:-5px !important;">
                @if (TempData["Success"] != null)
                {
                    <div style="        padding: 12px 0 1px 13px;
        background-color: #42ec90;">

                        <div style="color:green">
                            <p><strong>Thông báo: @TempData["Success"].ToString()</strong> </p>
                        </div>

                    </div>
                }
                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

                <div class="box-border">

                    <div class="content-box">


                        <p>(Vui lòng điền đầy đủ thông tin vào “Form ký gửi mua bán Nhà đất” dưới đây. Chúng tôi sẽ tiếp nhận thông tin và liên hệ lại sớm nhất)</p>
                        <div class="alert alert-info" style="display: none;">
                        </div>
                        <div class="alert alert-danger" style="display: none;">
                        </div>
                        <form role="form" action="@Url.Action("KyGui","Home")" method="post" class="form-contact">

                            <div class="contact-form">

                                <div class="rows" style="display: flex">
                                    <div style="width: 50%">
                                        Họ và tên  <span class="red">(*)</span>:
                                        <br />
                                        <input required type="text" maxlength="100" value="@Model.Name" id="Name" name="Name" class="form-control no-radius no-shadow" style="width:91%" tabindex="1" />
                                    </div>
                                    <div style="width: 50%">
                                        Thời gian rao bán :
                                        <br />
                                        <select id="Time" name="Time" style="    margin: 4px 0; height: 31px;width:300px ">
                                            <option value="Dưới 1 tháng">Dưới 1 tháng</option>
                                            <option value="1 tháng - 3 tháng">1 tháng - 3 tháng</option>
                                            <option value="3 tháng - 6 tháng">3 tháng - 6 tháng</option>
                                            <option value="6 tháng - 1 năm">6 tháng - 1 năm</option>
                                            <option value="Trên 1 năm">Trên 1 năm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="rows" style="display: flex">
                                    <div style="width: 50%">
                                        Số điện thoại <span class="red">(*)</span>:
                                        <br />
                                        <input required type="text" maxlength="12" value="@Model.Phone" id="Phone" name="Phone" class="form-control no-radius no-shadow" style="width:91%" tabindex="2" />
                                    </div>
                                    <div style="width: 50%">
                                        Email :
                                        <br />
                                        <input  type="email" maxlength="50" value="@Model.Email" id="Email" name="Email" class="form-control no-radius no-shadow" style="width:91%" tabindex="3" />
                                    </div>
                                </div>

                                <div class="rows" style="display: none">
                                    <div style="width: 50%">
                                        Năm sinh :
                                        <br />
                                        <input  type="number" max="3000" min="1950" value="2020" id="BirthYear" name="BirthYear" class="form-control no-radius no-shadow" style="width:91%" tabindex="4" />
                                    </div>
                                </div>
                                <div class="rows" style="display: flex">
                                    <div style="width: 100%">
                                        Địa chỉ nhà <span class="red">(*)</span>:
                                        <br />
                                        <input required style="width: 739px" type="text" maxlength="500" value="@Model.Address" id="Address" name="Address" class="form-control no-radius no-shadow" tabindex="5" />
                                    </div>
                                </div>
                                <div class="rows" style="display: flex">
                                    <div style="width: 50%">
                                        Diện tích (m2) :
                                        <br />
                                        <input  type="number" max="500000" value="@Model.Area" id="Area" name="Area" class="form-control no-radius no-shadow" style="width:91%" tabindex="6"/>
                                    </div>
                                    <div style="width: 50%">
                                        Số tầng :
                                        <br />
                                        <input  type="number" max="100" value="@Model.Floor" id="Floor" name="Floor" class="form-control no-radius no-shadow" style="width:91%" tabindex="7" />
                                    </div>
                                </div>
                                <div class="rows" style="display: flex">
                                    <div style="width: 50%">
                                        Mặt tiền (m) :
                                        <br />
                                        <input  type="text" maxlength="5" value="@Model.Facade" id="Facade" name="Facade" class="form-control no-radius no-shadow" style="width:91%" tabindex="8" />
                                    </div>
                                    <div style="width: 50%">
                                        Giá (tỷ) :
                                        <br />
                                        <input  type="number" value="@Model.Price" id="Price" name="Price" class="form-control no-radius no-shadow" style="width:91%" tabindex="9" />
                                    </div>
                                </div>

                                <div class="rows" style="display: flex">
                                    <div style="width: 100%">
                                        Lời nhắn (lý do bán, mô tả thêm về ngôi nhà, kỳ vọng khi làm việc với Công ty Godaco...)
                                        :
                                        <br />
                                        @Html.TextAreaFor(model => model.ContentSent, 10, 4, new {  maxlength = "500", style = "margin: 4px 0;width: 739px;resize: none;" ,@class="form-control no-radius no-shadow"})
                                    </div>
                                </div>

                                <div class="rows">
                                    <div class="g-recaptcha" data-sitekey="6Ldo29QUAAAAAEd1gr1gcR63CKO-64QLvivuP28b"></div>
                                </div>
                                <br />
                                <div class="rows">
                                    <input type="submit" name="btnSearch" value="Gửi thông tin"
                                           class="btn btn-danger no-radius bold" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                &nbsp;

                <div class="projectKind" style="margin-bottom:20px;">
                </div>

                <div class="projectProvince">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md pull-right mgb10">
            <div class="titH3 bold500 tit_box mgt0 hidden-xs">
                <a href="#"
                   class="tit_span">TIN V.I.P</a> <a class="view_all"
                                                     href="@Url.Action("Product","Home",new {vip="1" })" title="Xem tất cả tin vip">Xem tất cả >></a>
            </div>
            <div class="row row-md row-mb hidden-xs">
                @if (ViewBag.lstVip != null)
                {
                    foreach (var item in ViewBag.lstVip)
                    {
                        <div class="col-xs-6 col-sm-4 col-md-6 col-md col-mb mgb10 item_vip">
                            <a class="img_rvip img4x3" href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">

                                <img class="icon_v" src="/images/icon/vip2.gif" alt="Tin Vip Nhà đất Văn Minh">

                                <img class="img img2" src="@item.ImageMain" alt="@item.Name">
                            </a>
                            @if (item.Price == null || (item.Price != null && item.Price == 0))
                            {
                                <strong class="pd5">(Thỏa thuận)</strong>
                            }
                            else
                            {
                                <strong class="pd5">@item.Price (@item.UnitName)</strong>
                            }

                            <h2 class="bold tit_rv pdt5"><a href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">@item.Name</a></h2>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>




<script>
    $("form").submit(function (event) {
        var recaptcha = $("#g-recaptcha-response").val();
        if (recaptcha === "") {
            event.preventDefault();
            alert("Vui lòng tick vào I'm not a robot!");
        }
    });
</script>
<style>
    .contact-form .input {
        width: 300px;
        height: 31px;
        margin: 4px 0;
    }

    span.red {
        color: red;
    }
</style>
