﻿@using BanNhaAZ.Helpers;

<div class="container clearfix pdt15 pdb5" id="t_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li style="border-left: 1px solid #bfbfbf;" class="nav-item home">
                    <a class="nav-link" href="@Url.Action("Index","Home")"> </a>
                </li>
                <li class="nav-item @Html.IsSelected("Home", "Index")">
                    <a class="nav-link" href="@Url.Action("Index","Home")">TRANG CHỦ </a>
                </li>
                <li class="nav-item dropdown  @Html.IsSelected("Home", "Index","5")">
                    <a class="nav-link dropdown-toggle" href="#" id="muaban" role="button" data-toggle="dropdown"
                       data-hover="dropdown">
                        MUA - BÁN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="muaban">
                        @if (ViewBag.MenuTypeProperty1 != null)
                        {
                            if (ViewBag.MenuTypeProperty1.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty1)
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index","Home",new { prop=item.Id,type=item.ParentId})">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown @Html.IsSelected("Home", "Index","6")">
                    <a class="nav-link dropdown-toggle" href="#" id="chothue" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        CHO THUÊ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="chothue">
                        @if (ViewBag.MenuTypeProperty2 != null)
                        {
                            if (ViewBag.MenuTypeProperty2.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty2)
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index","Home",new { prop=item.Id,type=item.ParentId})">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown @Html.IsSelected("Home", "Index","58")">
                    <a class="nav-link dropdown-toggle" href="#" id="sang" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        SANG NHƯỢNG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sang">
                        @if (ViewBag.MenuTypeProperty3 != null)
                        {
                            if (ViewBag.MenuTypeProperty3.Count > 0)
                            {
                                foreach (var item in ViewBag.MenuTypeProperty3)
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index","Home",new { prop=item.Id,type=item.ParentId })">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </li>
                <li class="nav-item  @Html.IsSelected("Home", "TinTuc")">
                    <a class="nav-link" href="@Url.Action("TinTuc","Home", new { })"> TIN TỨC</a>
                </li>
                <li class="nav-item @Html.IsSelected("Home", "KyGui")">
                    <a class="nav-link" href="@Url.Action("Kygui","Home", new { })">KÝ GỬI NHÀ ĐẤT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>