﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsHead{
    <link href="/Content/home/Styles/detailsbb24.css?v=sICpQsqFEWu2T4okML5RvgVFYSOI9shUQbUj5qSiYFw1" rel="stylesheet" />
    <script src="/Content/home/Scripts/details5d6b.js?v=wC9xjebhzePORHOl-uAEapMDAGvTuIiRbOrOL_e2d5c1"></script>
}

<div class="container">
    <div class="row row-md">
        @if (ViewBag.Id != 0)
        {
            if (ViewBag.New != null)
            {
                <div class="box_titRV pd10 bd bdb0">
                    <h1 class="titH3 mgt5">
                        <strong class="c_red bold" style="font-size: 18px;color:#f15b40">
                            @ViewBag.New.Name
                        </strong>
                    </h1>
                    <p class="n_time">Ngày đăng: @ViewBag.New.ModifiedDate.ToString("hh:mm tt - dd/MM/yyyy ")</p>
                    <p class="mgb5">@Html.Raw(ViewBag.New.Title)</p>
                </div>

                <div class=" col-xs-12 col-md-12 col-sm-12 titH4 bold clearfix">
                    <div class="social-likes bold400 pull-right"
                         data-url="@Url.Action("TinTuc","Home",new { id=ViewBag.New.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.New.Name)})"
                         data-title="Bán gấp!!! Nhà Phố Láng Hạ Diện Tích 45m Mặt tiền 4m xây 5 Tầng">
                        <div class="facebook" title="Share link on Facebook">Facebook</div>
                        <div class="twitter" title="Share link on Twitter">Twitter</div>
                        <div class="plusone" title="Share link on Google+">Google+</div>
                    </div>

                </div>

                <div class="col-xs-12 col-md-12 col-sm-12 intro clearfix mgb10 mgt10">
                    @Html.Raw(ViewBag.New.Summary)
                </div>
            }
        }
        else
        {
    <div class="col-xs-12 col-md-8 col-md pull-left mgb15">

        @if (ViewBag.lstNews != null)
        {
            if (ViewBag.lstNews.Count > 0)
            {
                <div id="ucRaoVat_pnlTitle">
                    <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                        <span class='tit_span text-uppercase'>&nbsp; Tin Tức</span>
                    </h2>
                </div>
                foreach (var item in ViewBag.lstNews)
                {

                    <div class="box_rv pdt15 pdb15 clearfix  ">
                        <div class="col-xs-5 col-sm-3 col-xs">
                            <a class="img_rv img4x3"
                               href="@Url.Action("TinTucDetail","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">

                                <img class="img img2" src="@item.Image"
                                     alt="@item.Name" />
                            </a>
                        </div>
                        <div class="col-xs-7 col-sm-9 col-xs clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 pdl10 pdr0">
                                <h3 class="titH5 mgb5 bold500 mgt0">
                                    <a class="c-blue"
                                       href="@Url.Action("TinTucDetail","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                        @item.Name
                                    </a>
                                </h3>
                                <p class="mgb5 mDesc hidden-xs"></p>
                                <span>@item.Title</span>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-4 pdl10 pdr0 text-center text-left-mobile">
                                <p class="mgb5">
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>}

        @if (ViewBag.Id == 0)
        {
            <div class="col-xs-12 col-md-4 col-md pull-right mgb10">
                <div class="titH3 bold500 tit_box mgt0 hidden-xs">
                    <a href="#"
                       class="tit_span">TIN V.I.P</a> <a class="view_all"
                                                         href="@Url.Action("Product","Home",new {vip="1" })" title="Xem tất cả tin vip">Xem tất cả >></a>
                </div>
                <div class="row row-md row-mb hidden-xs">
                    @if (ViewBag.lstVip != null)
                    {
                        foreach (var item in ViewBag.lstVip)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-6 col-md col-mb mgb10 item_vip">
                                <a class="img_rvip img4x3" href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">

                                    <img class="icon_v" src="/images/icon/vip2.gif" alt="Tin Vip Nhà đất Văn Minh">

                                    <img class="img img2" src="@item.ImageMain" alt="@item.Name">
                                </a>
                                @if (item.Price == null || (item.Price != null && item.Price == 0))
                                {
                                    <strong class="pd5">(Thỏa thuận)</strong>
                                }
                                else
                                {
                                    <strong class="pd5">@item.Price (@item.UnitName)</strong>
                                }

                                <h2 class="bold tit_rv pdt5"><a href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">@item.Name</a></h2>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>

