@media(max-width: 1399px) {
    #home-section2 .news li:last-child {
        display:none;
    }
}

@media(max-width: 1649px) {
    #top-saleoff .product-list li:nth-child(n+5) {
        display: none;
    }

    .box-pro-home .product-list li:nth-child(n+11) {
        display: none;
    }

    .product-category-child .product-list li:nth-child(n+6) {
        display: none;
    }
}

@media(min-width: 1400px) {
    .product-list-not-full li {
        width: 25% !important;
    }

    .container {
        width: 1360px;
    }

    #main-menu ul {
        width: 250px;
        height: 596px;
    }

    .sub-menu {
        left: 248px;
    }

    #main-menu ul li a.root {
        line-height: 24px;
    }

    #slider {
        width: 695px;
        margin-left: 260px;
    }

    #slider #sync1 {
        height: 520px;
        max-height: 520px;
    }
  
  #slider #sync2{
        height:76px;
    }
    #slider #sync2 .item{
        height:76px;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    #right-top-home {
        width: 395px;
    }

    #right-top-home .video {
        height: 223px;
    }

    #right-top-home .banner img {
        height: 368px;
    }

    #top-saleoff {
        width: 1000px;
    }

    .banner-saleoff-home img {
        width: 100%;
    }

    .top-deal {
        width: 500px;
        height: 708px;
    }

    #top-saleoff .product-list {
        width: 500px;
    }

    #footer-bottom table td {
        width: 300px;
    }

    #content-left {
        width: 1065px;
    }

    #product-image {
        width: 500px;
    }

    #overview {
        width: 845px;
    }

    #overview-left {
        width: 530px;
    }

    .content-tab-left {
        width: 945px;
    }

    #pro-info-tab .title-tab.fixed {
        width: 1360px;
    }

    #comment {
        width: 945px;
    }

    .cart-right {
        width: 450px;
    }

    .cart-left {
        width: 895px;
    }
}

@media(min-width: 1650px) {
    .container {
        width:1650px;
    }

    #search {
        width: 910px;
    }

     #main-menu ul {
        width: 300px;
        height: 724px;
    }

    .sub-menu {
        left: 298px;
        min-height: calc(100% + 2px);
    }

    #main-menu ul li a.root {
        line-height: 32px;
    }
  #main-menu ul a.root .img{padding-top:9px;}
    #slider {
        width: 850px;
        margin-left: 310px;
    }

    #slider #sync1 {
        height: 630px;
        max-height: 630px;
    }

    #slider #sync2{
        height:94px;
    }
    #slider #sync2 .item{
        height:94px;
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    #right-top-home {
        width: 480px;
    }

    #right-top-home .video {
        height: 270px;
    }

    #right-top-home .banner img {
        height: 448px;
    }

    #home-section2 .news {
        width: 400px;
    }

    #top-saleoff {
        width: 1240px;
    }

    #top-saleoff .product-list li {
        width: 33.33%;
    }

    #top-saleoff .product-list {
        width: 740px;
    }

    .top-deal {
        height: 703px;
    }

    #content-left {
        width: 1355px;
    }

    #product-image {
        width: 630px;
    }

    #overview {
        width: 1000px;
    }

    #overview-left {
        width: 680px;
    }

    .content-tab-left {
        width: 1235px;
    }

    .product-list-not-full li {
        width: 20% !important;
    }

    #pro-info-tab .title-tab.fixed,#comment {
        width: 1650px;
    }

    .product-list-full li {
        width: 16.667%;
    }

    .cart-right {
        width: 500px;
    }

    .cart-left {
        width: 1130px;
    }

    .td-fanpage {
        width: 500px !important;
    }
}
