﻿body {
}
/* ================= Trang chu =================== */
.icon-home {
    color: #33bc42;
}

::selection {
    background: #39f !important;
    color: #fff;
}

div#header-top-bar {
    background-color: #33bc42;
}

.navbar-header.nav-respons.zozo-logo.zozo-has-sticky-logo.zozo-no-mobile-logo {
    margin-top: -9px;
}

div#header-logo-bar {
    background-color: black;
}

li.header-phone {
    color: white
}

li.header-email {
    color: white
}

a.btn.btn-fbox-more {
    background-color: #33bc42;
}

i.fa {
    color: #33bc42 !important;
}

.parallax-title:after {
    background-color: #33bc42 !important;
}

.header-logo-section .header-contact-details > li.header-phone:before, .header-logo-section .header-contact-details > li.header-email:before {
    color: #33bc42 !important;
}

button.btn.zozo-submit.btn-block.zozo-btn-icon-right {
    background-color: #33bc42 !important;
}

.header-contact-details > li.header-phone:before {
    content: "\e777" !important;
}

.header-contact-details > li.header-email:before {
    content: "\e700" !important;
}
/* end */

/*=================== Dich vu ===================*/
.page-title-section {
    height: 80px;
}

.pager-current {
    font-weight: bold;
}

.item-list .pager li a:hover {
    color: #059;
}

.item-list .pager li a {
    background-color: white;
    border-color: white;
    padding: 0;
    display: inline;
}

.item-list .pager li {
    float: none;
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}

.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.item-list .pager {
    clear: both;
    text-align: center;
}

.item-list .pager {
    margin-top: 8px;
}

a.uk-button.uk-float-right:hover {
    background: #ff531a;
}

a.uk-button.uk-float-right {
    float: right;
    background: #52aa54;
    color: #fff;
    transition: background .5s ease-out;
    padding: 3px 12px;
}

.item-list ul li span.field-content {
    color: #888;
    font-size: small;
}

.item-list ul li .views-field-title a {
    font-weight: bold;
    font-size: 18px;
}

.item-list ul li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    list-style: none;
    margin-left: 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

    .item-list ul li img {
        float: left;
        margin-right: 20px;
        box-shadow: 1px 8px 15px #ccc;
        padding: 4px;
    }

i.fa.fa-long-arrow-right {
    color: white !important;
}

.vc-zozo-section {
    padding: 18px 0;
}

@media only screen and (max-device-width: 768px) {
    .item-list ul li img {
        margin: 4px 51px;
    }
}
/* end */
/* =================== Gioi thieu ===================*/
.features-icon {
    color: #33bc42 !important;
}
/* end */
/* =================== Huong dan ===================*/
.site-content {
    padding-top: 18px !important;
}

.bg-style.bg-normal {
    fill: #ff5400;
    margin-top: 30px;
}

.vc_row.vc_row-no-padding .wpb_column {
    background-color: #33bc42 !important;
}
/* end */

/* =================== Bang gia ===================*/
i.simple-icon.icon-globe.grid-icon.zozo-icon.icon-none.icon-skin-default.icon-bg.pattern-1.icon-large {
    color: #33bc42;
}
/* end */

/* tai file dat hang */
input#gform_submit_button_8 {
    background-color: #33bc42 !important;
}

input#gform_submit_button_8:hover {
        background: rgba(23, 154, 69, 0.8);
    }
/* end */

.header-top-section ul {
    margin-top: -4px;
}
div#header-top-bar{
    height:28px;
}
body {
    font-family: sans-serif !important;
}
.tp-caption.Sports-DisplayFat, .Sports-DisplayFat {
    font-family: sans-serif !important;
    font-size: 86px !important;
}