<style>
    .t-img {
        height: 120px;
    }
</style>
<div class="_modal" ng-show="isLoading">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
        <div id="veil"></div>
    </div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tin tức</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-success" style="margin-top: -13px;">
                <div class="box-header with-border">
                    <div class="col-sm-9">
                        <h3 class="box-title">
                            <i class="fa fa-dashboard"></i>
                            {{"txt-label-list" | translate}}
                        </h3>
                    </div>
                    <!--trongnv-->
                    <div class="col-sm-3" style="    padding-right: 1px;">
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box-body" style="    padding-left: 15px;">
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-click="onAddNew()" data-target="#modal-default">
                                            <i class="fa fa-plus"></i>&ensp; Add new
                                        </button> &nbsp;
                                        <button type="button" class="btn k-primary" data-toggle="modal"
                                            ng-click="onDeletes()" ng-show="selectedRow.length >0"
                                            data-target="#modal-default">
                                            <i class="fa fa-times-circle"></i>&ensp; Deletes ({{selectedRow.length}})
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="input-group pull-right" style="    padding-right: 5px;">
                                            <input type="text" ng-model="search.name" ng-keypress="searchData($event)"
                                                placeholder="Search ..." class="form-control">
                                            <span class="input-group-addon" style="cursor: pointer"
                                                ng-click="allDatasource.read()">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">Tất cả ({{total}})</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <kendo-grid options="mainGridOptions" id="grid">

                                            </kendo-grid>
                                        </div>
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div kendo-dialog="dialog" k-title="' Dịch vụ'" k-visible="false" k-on-open="true" k-on-close="true" k-width="950"
        k-modal="true">
        <div class="t-body">
            <form kendo-validator="validator" id="idForm" name="idForm" ng-submit="validate($event)"
                novalidate>
                <div class="form-horizontal">
                    <div class="box-body scoll-box-body">
                        <div class="t-scroll-modal">
                            <div class="form-group  col-sm-12">
                                <label>
                                    Tên
                                    <span class="t-required">(*)</span>
                                </label>
                                <input type="text" required ng-model="item.name" placeholder="Name" class="form-control t-input">
                            </div>
                            <div class="form-group  col-sm-12">
                                <label>
                                    Tiêu đề
                                    <span class="t-required">(*)</span>
                                </label>
                                <textarea type="text" required ng-model="item.title" rows="5" style="resize: none;"
                                    placeholder="Title" class="form-control t-input"></textarea>
                            </div>
                            <div class="form-group  col-sm-12">
                                <label>
                                    Image link
                                    <span class="t-required">(*)</span>
                                </label>
                                    <input type="text" required ng-model="item.image" placeholder="Image link here"
                                        class="form-control t-input">
                            </div>
                            <div class="form-group  col-sm-2">
                                <label for="">
                                    Thứ tự</label>
                                <input type="text" required ng-model="item.orders"
                                    maxlength="3"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    class="form-control t-input">
                            </div>
                            <div class="form-group  col-sm-12">
                                <label >
                                    Ghi chú
                                </label>
                                    <div ckeditor="options" ng-model="item.summary" ready="onReady()"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-footer">
                    <button type="button" ng-click="dialog.close()" class="btn btn-default" title="Cancel action"
                        data-dismiss="modal">
                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp Close
                    </button>
                    &nbsp;
                    <button type="button" id="btnSave" class="btn btn-primary" ng-click="onSaveChange()" title="Save data">
                        <i class="fa fa-floppy-o" aria-hidden="true">
                        </i>&nbsp; Save changes
                    </button>
    
                </div>
            </form>
        </div>
    </div>
  
</section>