﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination > li {
        cursor: pointer;
    }
</style>
@section jsHead{
    <link href="/Content/home/Styles/detailsbb24.css?v=sICpQsqFEWu2T4okML5RvgVFYSOI9shUQbUj5qSiYFw1" rel="stylesheet" />
    <script src="/Content/home/Scripts/details5d6b.js?v=wC9xjebhzePORHOl-uAEapMDAGvTuIiRbOrOL_e2d5c1"></script>
}

<div class="container">
    <div class="row row-md">
        <div class="col-xs-12 col-md-8 col-md pull-left mgb15">

            <div id="ucRaoVat_pnlTitle">
                <h2 class="mgt0 clearfix titH3 bold500 tit_box">
                    <span class='tit_span text-uppercase'>&nbsp; BẤT ĐỘNG SẢN</span>
                </h2>
            </div>
            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="box_rv pdt15 pdb15 clearfix  ">
                            <div class="col-xs-5 col-sm-3 col-xs">
                                <a class="img_rv img4x3"
                                   href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                    <img class="img img2" src="@item.ImageMain"
                                         alt="@item.Name" />
                                </a>
                            </div>
                            <div class="col-xs-7 col-sm-9 col-xs clearfix">
                                <div class="col-xs-12 col-sm-7 col-md-8 pdl10 pdr0">
                                    <h3 class="titH5 mgb5 bold500 mgt0">
                                        <a class="c-blue"
                                           href="@Url.Action("Details","Home",new { id=item.Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(item.Name)})">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <p class="mgb5 mDesc hidden-xs"></p>
                                    <span>Vị trí: @item.Address - @item.WardName - @item.DistrictName - @item.CityName</span>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4 pdl10 pdr0 text-center text-left-mobile">
                                    <p class="mgb5">
                                        <strong class="c_red">@item.TypeTransactionName</strong>
                                    </p>
                                    <a href="tel:0967273387">  <strong class="c_red">@item.Price &nbsp; @item.UnitName</strong></a><br />
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row row-md">
                    <div style="text-align: center">
                        <ul class="pagination" style="justify-content: center;">
                            @if (ViewBag.PagingModel.IsActivePre)
                            {
                                <li><a class="page-link" href="@Url.Action("Product","Home",new { page= ViewBag.PagingModel.CurrentPage -1,vip=ViewBag.VIP })"><<</a></li>
                            }
                            else
                            {
                                <li class="disabled"><a><<</a></li>
                            }
                            @for (int i = ViewBag.PagingModel.FromPage; i <= ViewBag.PagingModel.ToPage; i++)
                            {
                                if (i == ViewBag.PagingModel.CurrentPage)
                                {
                                    <li class=" active"><a class="page-link">@i</a></li>
                                }
                                else
                                {
                                    <li><a class="page-link" href="@Url.Action("Product","Home",new { page= i ,vip=ViewBag.VIP})">@i</a></li>
                                }

                            }
                            @if (ViewBag.PagingModel.IsActiveNext)
                            {
                                <li><a class="page-link" href="@Url.Action("Product","Home",new { page= ViewBag.PagingModel.CurrentPage + 1,vip=ViewBag.VIP })">>></a></li>
                            }
                            else
                            {
                                <li class="disabled"><a>>></a></li>
                            }

                        </ul>
                    </div>
                </div>
            }

        </div>

        <div class="col-xs-12 col-md-4 col-md pull-left mgb15">
            <div class="col-xs-12 col-sm-12 col-md mgb20">
                <div class="titH3 bold500 tit_box mgt0 mgb0">
                    <a class="tit_span"
                       href="news/0200002/dich-vu.html">TIN TỨC</a>
                </div>
                <ul class="list-unstyled mgb15 box_newH pd5">
                    @if (ViewBag.News != null)
                    {
                        if (ViewBag.News.Count > 0)
                        {
                            for (int i = 0; i < ViewBag.News.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li class="NewsH1 pdt10 pdb10">
                                        <a class="imgH1 pull-left mgr10"
                                           href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                            <img class="img img2"
                                                 src="@ViewBag.News[i].Image"
                                                 alt="@ViewBag.News[i].Name" />
                                        </a>
                                        <strong class="mgb5">
                                            <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                                @ViewBag.News[i].Name
                                            </a>
                                        </strong>
                                        <p class="mgb0 mDesc">
                                            @ViewBag.News[i].Title
                                        </p>
                                    </li>
                                }
                                else
                                {
                                    <li class="NewsH2 pdt10 pdb10">
                                        <a href="@Url.Action("TinTucDetail","Home",new { id=ViewBag.News[i].Id,name=CommonHelper.Helper.Ultity.ConvertNameUrl.CovnertName(ViewBag.News[i].Name)})">
                                            @ViewBag.News[i].Name
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

</div>



